.mx-40 {
    margin-left: 10rem/* 160px */;
    margin-right: 10rem/* 160px */;
}
.mb-4 {
    margin-bottom: 1rem/* 16px */;
}
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.px-6 {
    padding-left: 1.5rem/* 24px */;
    padding-right: 1.5rem/* 24px */;
}
.py-4 {
    padding-top: 1rem/* 16px */;
    padding-bottom: 1rem/* 16px */;
}
.bg-zinc-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(228 228 231 / var(--tw-bg-opacity));
}
.rounded-md {
    border-radius: 0.375rem/* 6px */;
}
.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.hover\:border-blue-500:hover {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
}
.hover\:translate-y-1:hover {
    --tw-translate-y: 0.25rem/* 4px */;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.gap-4 {
    gap: 1rem/* 16px */;
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}
.py-1 {
    padding-top: 0.25rem/* 4px */;
    padding-bottom: 0.25rem/* 4px */;
}
.px-2 {
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
}
.gap-4 {
    gap: 1rem/* 16px */;
}
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}
.border {
    border-width: 1px;
}
.border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
}
.px-10 {
    padding-left: 2.5rem/* 40px */;
    padding-right: 2.5rem/* 40px */;
}
.py-2 {
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
}

.text-lg {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    background: none;
}
.font-semibold {
    font-weight: 600;
}