.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.h-20 {
    height: 5rem/* 80px */;
}
.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.text-3xl {
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
}
.pl-20 {
    padding-left: 5rem/* 80px */;
}
.font-bold {
    font-weight: 700;
}